<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de productos</title>
  </head>
  <body>
    <div class="headerlista">
      <h1 style="color: #ffffff">Lista de productos</h1>
    </div>

    <table class="styled-table">
      <tr>
        <th>Codigo de barras</th>
        <th>Provedor</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Encargad@</th>
        <th></th>
        <th></th>
        <!--Se crean dos columnas sin nombre-->
      </tr>
      <!--Dentro de la tabla se estara ingresando la informacion proveniente del json-->
      <% Object.keys(producto).forEach(function(prop) { %>
      <!--Menciona que por cada llave de producto utilizara un prop-->
      <tr>
        <td><%- producto[prop].codigoProducto %></td>
        <td><%- producto[prop].provedor %></td>
        <td><%- producto[prop].nombre %></td>
        <td><%- producto[prop].cantidad %></td>
        <td>$ <%- producto[prop].precio %></td>
        <td>
          <a href="<%= `deleteProducto/${producto[prop]._id}` %>">Encargad@</a>
        </td>
        <td>
          <a href="<%= `deleteProducto/${producto[prop]._id}` %>">Delete</a>
        </td>
        <td><a href="<%= `PfindById/${producto[prop]._id}` %>">Update</a></td>
        <!--Se crean la edicion y eliminacion del documento por medio de un hipervinculo-->
      </tr>
      <% }); %>
    </table>

    <br />
    <a href="/">Regresar</a><br />
  </body>
</html>
