<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de sucursales</title>
  </head>
  <body>
    <div class="headerlista">
      <h1 style="color: #ffffff">Lista de sucursales</h1>
    </div>

    <table class="styled-table">
      <tr>
        <th>Municipio</th>
        <th>Colonia</th>
        <th>Calle</th>
        <th>Código Postal</th>
        <th></th>
        <th></th>
        <!--Se crean dos columnas sin nombre-->
      </tr>
      <!--Dentro de la tabla se estara ingresando la informacion proveniente del json-->
      <% Object.keys(sucursal).forEach(function(prop) { %>
      <!--Menciona que por cada llave de sucursal utilizara un prop-->
      <tr>
        <td><%- sucursal[prop].municipio %></td>
        <td><%- sucursal[prop].colonia %></td>
        <td><%- sucursal[prop].calle %></td>
        <td><%- sucursal[prop].codigoPostal %></td>
        <td>
          <a href="<%= `deleteSucursal/${sucursal[prop]._id}` %>">Delete</a>
        </td>
        <td>
          <a href="<%= `SucfindById/${sucursal[prop]._id}` %>">Update</a>
        </td>
        <!--Se crean la edicion y eliminacion del documento por medio de un hipervinculo-->
      </tr>
      <% }); %>
    </table>

    <br />
    <a href="/">Regresar</a><br />
  </body>
</html>
